h1 {
  text-align: center;
  padding: 1em;
  font-weight: bold;
  font-size: 3rem;
}

h2, h3 {
  padding: 3%;
  text-align: left;
}

body {
  font-family: "Merriweather", serif;
  font-weight: 400;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

hr {
  background-color: #fff;
  border-top: 16px dotted black;
  width: 25%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1%;
}

.hr-green {
  background-color: #E8F6EF;
  border-top: 16px dotted black;
  width: 25%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1%;
}

p {
  font-size: 1.25rem;
  padding: 3%;
}

@media (max-width:1200px) {
  p {
    font-size: 2rem;
  }
}

/* Articles & Reports */
li {
  padding: 15px;
  line-height: 1.5rem;
  font-size: 1.2em;
}

ul {
  padding-left: 8%;
  padding-right: 8%;
}

@media only screen and (max-width: 700px) {
  li {
    padding: 4%;
  }
}

.journal-articles, .research-reports, .trade-pubs, .blogs {
  background-color: #E8F6EF;
  padding-bottom: 5px;
}

/* NavBar */
.navbar {
  background-color: #c3e8d5;
  font-family: 'Lato', sans-serif;
}

.navbar-brand {
  font-size: 4em;
  padding-left: 3%;
}

.nav-link {
  font-size: 1.4em;
  display: block;
  margin: auto;
  padding-left: 5px;
  padding-right: 5px;
}

.navbar-toggler {
  width: 100px;
}

.navbar-toggler-icon {
  width: 3em;
  height: 2.5em;
}

@media (max-width:1200px) {
  .nav-link {
    font-size: 1.8em;
    text-align: left;
    margin-left: 1%;
  }
}

@media (min-width:1400px) {
  .nav-link {
    font-size: 1.8em;
  }
}

/* Footer  */
.bottom-page {
  background-color: #c3e8d5;
  /* overflow: auto; */
}

footer {
  background-color: #c3e8d5;
}

.footer-text {
  font-family: 'Lato', sans-serif;
  font-size: 1.2em;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  color: grey;
  margin-bottom: 0;
}

.donald-mail, .john-mail {
  text-decoration: none;
  color: grey;
}

/* Splash Screen */
.thinkers-50-shortlist {
  padding: 3%;
  text-align: center;
  width: 70%;
  display: block;
  margin: auto;
}

@media (min-width:1400px) {
  .intro-text {
    text-align: left;
    font-size: 1.5vw;
    padding-bottom: 1%;
  }

  .bottom-intro-text {
    font-size: 1.2vw;
    font-style: italic;
  }
}

/* Bottom Bit */
.bottom-section {
  background-color: #E8F6EF;
}

.leadership-unravelled, .speak-up-pic {
  padding: 3%;
  height: 100%;
  width: 75%;
  display: block;
  margin: auto;
}

.speak-up-blurb {
  font-size: 1.3vw;
  line-height: 1.5;
  padding-right: 5%;
  margin-bottom: 0;
}

.shortlist-pic {
  width: 50%;
  margin-bottom: 3%;
}

@media (max-width:991px) {
  .speak-up-blurb {
    font-size: 3vw;
    line-height: 1.5;
    margin-right, margin-right: : 8%;
    margin-bottom: 0;
  }

  .speak-up-pic {
    padding: 3%;
    width: 60%;
    display: block;
    margin: auto;
  }

  .shortlist-pic {
    padding: 3%;
    width: 35%;
    display: block;
    margin: auto;
  }
}

@media (max-width:1200px) {
  .thinkers-50-shortlist {
    padding: 3%;
    text-align: center;
    width: 80%;
    display: block;
    margin: auto;
    margin-top: 3%;
  }
  .leadership-unravelled, .speak-up-pic {
    padding: 3%;
    width: 50%;
    display: block;
    margin: auto;
  }

  .speak-up-blurb {
    font-size: 3.5vw;
    line-height: 1.5;
    margin-right, margin-right: : 8%;
    margin-bottom: 0;
  }

  .shortlist-pic {
    padding: 3%;
    width: 40%;
    display: block;
    margin: auto;
  }
}

/* Books & Chapters */
.top-book {
  background-color: #E8F6EF;
}

.books-page-covers {
  display: block;
  width: 70%;
  margin: auto;
  padding: 5%;
}

.more, .more2 {
  display: none;
}

.shortlist-books-page {
  display: block;
  margin: auto;
}

/* Buttons */
.myBtn, .myBtn2 {
  background-color: #c3e8d5;
  border: none;
  border-radius: 5%;
  color: black;
  padding: 8px 16px;
  display: block;
  margin: auto;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

.myBtn3 {
  background-color: #c3e8d5;
  border: none;
  border-radius: 5%;
  color: black;
  padding: 8px 16px;
  display: block;
  text-align: left;
  text-decoration: none;
  font-size: 16px;
}

.shop-links {
  margin: 2rem;
  background-color: #c3e8d5;
  border: none;
  border-radius: 5%;
  color: black;
  padding: 16px 12px;
  display: block;
  margin: auto;
  width: 150px;
  text-decoration: none;
  font-size: 20px;
}

.vids {
  padding: 4%;
  display: block;
  text-align: center;
}

/* Four covers */
.covers-section {
  background-color: #E8F6EF;
}

.four-covers {
  padding: 1%;
}

.img-fluid {
  width: 80%;
  height: 100%;
  display: block;
  margin: auto;
}

@media (max-width:1200px) {
  .books-page-covers {
    display: block;
    width: 45%;
    margin: auto;
    padding: 5%;
  }

  .four-covers {
    margin-top: 3%;
    margin-bottom: 3%;
  }

  .vids {
    margin: auto;
    width: 90%;
  }

  .shortlist-books-page {
    display: block;
    margin: auto;
    width: 50%;
    padding: 4%;
  }
}

/* Chapters Section */
.chapters-list {
  font-size: 1.15rem;
}

/* Contact */
.contact-page {
  background: #E8F6EF;
}

.contact-title {
  background-color: white;
}

.contact-form {
  padding: 2em;
  display: block;
  margin: auto;
  width: 40%;
}

#form_container {
  padding: 2%;
  background: #E8F6EF;
  display: block;
  margin: auto;
}

.contact-me {
  text-align: center;
  padding:1%;
}

.contact-success-return {
  text-align: center;
}

.email-button {
  margin-top: 8px;
  background-color: #c3e8d5;
  border: none;
  border-radius: 5%;
  color: black;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}

/* Collaborators */
.collab-pics {
  width: 70%;
  height: 65%;
  display: block;
  margin: auto;
}

.mark-pic {
  width: 85%;
}

.anthony-pic, .kathleen-pic {
  width: 80%;
}

.phill-chris {
  width: 90%;
}

.collab-titles {
  font-size: 3rem;
  text-align: center;
}

.collab-titles-chris {
  font-size: 2.5rem;
  text-align: center;
}

.collab-texts {
  font-size: 1.4rem;
  margin: 1em;
}

.collab-links {
  background-color: #c3e8d5;
  border: none;
  border-radius: 5%;
  padding: 16px;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
}

.colabs {
  text-align: center;
  background-color: #E8F6EF;
  padding-bottom: 5%;
}

@media (max-width:900px) {
  .collab-titles {
    font-size: 2.5rem;
  }

  .collab-pics {
    width: 70%;
  }

  .mark-pic {
    width: 80%;
  }

  .anthony-pic {
    width: 80%;
  }

  .phill-chris {
    width: 90%;
  }

  .kathleen-pic {
    width: 70%;
  }

  .colabs {
    padding-bottom: 3%;
  }

  .colabs-lower {
    padding-bottom: 10%;
  }
}

@media (min-width:1920px) {
  .collab-pics {
    width: 50%;
  }

  .mark-pic {
    width: 60%;
  }

  .anthony-pic {
    width: 60%;
  }

  .phill-chris {
    width: 70%;
  }

  .kathleen-pic {
    width: 50%;
  }

  .colabs {
    padding-bottom: 3%;
  }

  .colabs-lower {
    padding-bottom: 10%;
  }
}

/* Bio Page */
.bio-page {
  background-color: #E8F6EF;
}

.bio-text {
  margin-bottom: 0%;
}

/* Services & Materials  */
.background-green {
  background-color: #E8F6EF;
}

.slide-show {
  display: block;
  margin: auto;
  padding: 28px;
}

.services-text, .services-text-bulleted {
  padding-left: 3%;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 0;
}

.services-bullets {
  margin: 0;
}

.services-list {
  font-size: 1.25em;
}

.services-titles {
  font-size: 2.5em;
  font-weight: bold;
  padding: 1%;
}

@media(max-width:1200px) {
  .services-titles {
    font-size: 3em;
    padding-left: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
  }

  .services-list {
    font-size: 2rem;
    line-height: 1.5;
  }
}

.services-banner {
  padding: 4%;
}
